@page "/selectgame"

<div>
    <h1 class="bold-text">Choose a game</h1>
    <div class="d-flex justify-content-center">

        <!--CAPITAL CHALLENGE-->
        <div class="card me-5">
            <div class="img-container"><img src="/images/capital_challenge.png"></div>
            <h4 class="bold-text mt-5">Capital Challenge</h4>
            <p class="gray-text mt-3">
                How well do you know the national<br>
                capitals of the world? Select the<br>
                correct capital for each country<br>
                presented. Try to finish as fast<br>
                as you can! Are you ready?
            </p>
            <div class="d-flex justify-content-center">
                <a class="btn-primary mt-5 mb-5" href="/capitalchallenge">Play</a>
            </div>
        </div>

        <!--FLAG CHALLENGE-->
        <div class="card ms-5 me-5">
            <div class="img-container"><img src="/images/flag_challenge.png"></div>
            <h4 class="bold-text mt-5">Flag Challenge</h4>
            <p class="gray-text mt-3">
                Can you identify the various flags<br>
                around the world? Select the<br>
                correct flag for each country<br>
                presented. Try to finish as fast<br>
                as you can! Are you ready?
            </p>
            <div class="d-flex justify-content-center">
                <a class="btn-primary mt-5 mb-5" href="/flagchallenge">Play</a>
            </div>
        </div>

        <!--POPULATION CHALLENGE-->
        <div class="card ms-5">
            <div class="img-container"><img src="/images/population_challenge.png"></div>
            <h4 class="bold-text mt-5">Population Challenge</h4>
            <p class="gray-text mt-3">
                What are the population figures<br>
                around the world? Select the<br>
                correct population for each country<br>
                presented. Try to finish as fast<br>
                as you can! Are you ready?
            </p>
            <div class="d-flex justify-content-center">
                <a class="btn-primary mt-5 mb-5" href="/populationchallenge">Play</a>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<div class="footer d-flex justify-content-center">
    <a class="text-left" href="/"><i class="far fa-arrow-alt-circle-left"></i></a>
    <p class="mt-3 mb-3">© 2021 GeoChallenge. All rights reserved.</p>
</div>

@code {

}
